<li>
  Name: <%= friendship_request.user.name %>
  <span class="profile-link">
    <span>
      <%= accept_button(friendship_request) %>
      <%= reject_button(friendship_request) %>
    </span>
  </span>
</li>